html, body {
  /* width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Libre Caslon Display', serif; */
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Libre Caslon Display', serif; 
}

body > main {
  flex: 1;
}